<odoo>
    <data>
        <menuitem id="menu_root"
                  name="Quản lí phòng họp, hội trường"
                  sequence="0"/>

        <menuitem name="Danh sách phòng họp, hội trường" 
                  id="menu_quan_ly_phong_hop" 
                  parent="menu_root" 
                  sequence="1"
                  action="action_quan_ly_phong_hop"/>
        <!-- Menu - Quản lý thiết bị -->
        <menuitem id="menu_thiet_bi" name="📌 Quản lý Thiết Bị" action="action_thiet_bi"/>
        <menuitem name="Đăng ký mượn phòng" 
                  id="menu_dat_phong" 
                  parent="menu_root" 
                  sequence="2"/>

        <menuitem name="Danh sách chờ duyệt"
                  id="menu_dat_phong_cho_duyet"
                  parent="menu_dat_phong"
                  action="action_dat_phong_cho_duyet"/>

        <menuitem name="Danh sách đã duyệt"
                  id="menu_dat_phong_da_duyet"
                  parent="menu_dat_phong"
                  action="action_dat_phong_da_duyet"/>

        <menuitem name="Danh sách phòng đang sử dụng"
                  id="menu_dat_phong_dang_su_dung"
                  parent="menu_dat_phong"
                  action="action_dat_phong_dang_su_dung"/>

        <menuitem name="Danh sách đã hủy"
                  id="menu_dat_phong_da_huy"
                  parent="menu_dat_phong"
                  action="action_dat_phong_da_huy"/>

        <menuitem name="Danh sách đã trả"
                  id="menu_dat_phong_da_tra"
                  parent="menu_dat_phong"
                  action="action_dat_phong_da_tra"/>

        <menuitem name="Lịch sử thay đổi" 
                  id="menu_lich_su_thay_doi" 
                  parent="menu_root" 
                  sequence="3"
                  action="action_lich_su_thay_doi"/>
        <menuitem name="Lịch sử mượn trả" 
                  id="menu_lich_su_muon_tra" 
                  parent="menu_root" 
                  sequence="3"
                  action="action_lich_su_muon_tra"/>

        <menuitem id="menu_dashboard_trang_thai"
                  name="📊 DashBoard"
                  parent="menu_root"
                  action="action_dat_phong_dashboard"/>
        <menuitem id="menu_dat_phong_ai"
                  name="🤖 AI Assistant"
                  parent="menu_root"
                  action="action_dat_phong_ai"
                  sequence="100"/>
    </data>
</odoo>
